{% extends "lvsgate_base.html" %}

{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript">
(function($) {
	    $(document).ready(function($) {
		            $("tr input.action-select").actions();
			        });
})(django.jQuery);
</script>
{% endblock %}


{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}

	<ul class="object-tools">

	<li>
	<a href="/lvsgate/vs/add/" class="addlink">
	Add virtual server
	</a>
	</li>

	</ul>

    <div class="module filtered" id="changelist">

	<div id="toolbar">
	    <form id="changelist-search" action="" method="get">
		<div><!-- DIV needed for valid HTML -->
			<label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search" /></label>
			<input type="text" size="40" name="q" value="" id="searchbar" />
			<input type="submit" value="Search" />
		</div>
	    </form>
	</div>
	
	<script type="text/javascript">document.getElementById("searchbar").focus();</script>

	<form id="changelist-form" action="" method="post">

	<div class="actions">
	<label>Action: <select name="action">
	<option value="" selected="selected">---------</option>
	<option value="delete_selected">Delete selected vs</option>
	</select></label><input type="hidden" class="select-across" value="0" name="select_across" />
	<button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>

	<script type="text/javascript">var _actions_icnt="2";</script>
	<span class="action-counter">0 of 2 selected</span>

	</div>

	<div class="results">
	<table id="result_list">
	<thead>
	<tr>

	<th>
	<div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
	<div class="clear"></div>
	</th>

	<th scope="col"  class="sortable sorted ascending">
	<div class="sortoptions">
	<a class="sortremove" href="?o=" title="Remove from sorting"></a>
	<a href="?o=-1" class="toggle ascending" title="Toggle sorting"></a>
	</div>
	<div class="text">name</div>
	<div class="clear"></div>
	</th>

	<th scope="col"  class="sortable">
        <div class="text">ip</div>
	<div class="clear"></div>
	</th>

        <th scope="col"  class="sortable">
        <div class="text">port</div>
	<div class="clear"></div>
	</th>

        <th scope="col"  class="sortable">
        <div class="text">protocol</div>
	<div class="clear"></div>
	</th>

        <th scope="col"  class="sortable">
        <div class="text">forward</div>
	<div class="clear"></div>
	</th>

	<th scope="col"  class="sortable">
        <div class="text">scheduler</div>
	<div class="clear"></div>
	</th>

	</tr>

	{% for vs in vs_list %}
	<tr>
	<td class="action-checkbox"><input type="checkbox" class="action-select" value="1" name="_selected_action" /></td>

	<th><a href="{{vs.name}}/">{{vs.name}}</a></th>
	<td>{{vs.ip}}</td>
	<td>{{vs.port}}</td>
	<td>{{vs.protocol}}</td>
	<td>{{vs.lb_kind}}</td>
	<td>{{vs.lb_algo}}</td>

	</tr>
	{% endfor %}

	</thead>
	</table>
	</div>

	</form>
    </div>


{% endblock %}
